.reviews__items {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    margin-top: 80px;
}

@media screen and (max-width: 986px) {
    .reviews__items {
        flex-direction: column;
    }
}