.appointment-ad__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

@media screen and (max-width: 986px) {
    .appointment-ad__container {
        align-items: center;
    }
}