.header {
    width: 100%;
    padding-bottom: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../../images/Header-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 986px) {
    .header {
        background-image: none;
        padding: 0;
    }
}

