.header {
    width: 100%;
    max-width: 1440px;
    padding-bottom: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../../images/Header-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}