.appointment-ad__text {
    margin: 35px 0;
    padding: 0;
    max-width: 376px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}


@media screen and (max-width: 986px) {
    .appointment-ad__text {
        max-width: 302px;
        text-align: center;
    }
}