@media screen and (max-width: 986px) {
    .appointment-ad__button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 142px;
    }
}