.faq__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

@media screen and (max-width: 1061px) {
    .faq__text {
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 24px;
    }
}