.header__wrapper {
    width: 100%;
    max-width: 1044px;
    margin: 20px 0 84px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 986px) {
    .header__wrapper {
        justify-content: space-around;
        margin: 40px 0 100px 0;
    }

}

@media screen and (min-width: 987px) and (max-width: 1025px) {
    .header__wrapper {
        justify-content: space-around;
    }
}