.header__wrapper {
    width: 100%;
    max-width: 1044px;
    margin: 20px 0 84px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 984px) {
    .header__wrapper {
        justify-content: space-around;
        
    }

}