.header__menu-button {
    width: 23px;
    height: 14px;
    border: none;
    outline: none;
    background: url(../../../images/mobile-header-menu-close.svg);
    cursor: pointer;
    transition: opacity .3s ease;
    display: none;
}

.header__menu-button:hover {
    opacity: .6;
}

@media screen and (max-width: 986px) {
    .header__menu-button {
        display: block;
    }
}