.service__card-link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #23A6F0;
    margin-left: 50px;
    text-decoration: none;
    transition: opacity .3s ease;
}

.service__card-link:hover {
    opacity: 0.6;
}