.header__background {
    margin: 0;
    width: 100%;
    height: 817px;
    background-image: url(../../../images/Header-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    z-index: 1;
}
