.pricing__card {
    width: 100%;
    max-width: 328px;
    background: #FFFFFF;
    border: 1px solid #23A6F0;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 50px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

@media screen and (max-width: 986px) {
    .pricing__card {
        margin-top: 30px;
    }
    .pricing__card:last-of-type{
        margin-top: 0;
    }
}